@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
    
    margin: 0px;
    padding: 0px;
}

body, html{
    background-color: lightgray;
    scroll-behavior: smooth;
}

header{
    background-color: rgb(185, 185, 185);
}

header h1{
    padding: 10px;
    text-align: center;
}

#burguer{
    background-color: rgb(46, 46, 46);
    color: white;
    display: block;

    text-align: center;
    padding: 10px;

    cursor: pointer;
}

#burguer:hover{
    background-color: white;
    color: rgb(46, 46, 46);

    transition: 0.5s;
}

menu{
    display: none;
}

menu ul{
    list-style-type: none;
}

menu a{
    display: block;
    padding: 10px;

    text-decoration: none;
    background-color: rgb(65, 65, 65);

    text-align: center;
    color: white;


    border-radius: 10px;
}

menu a:hover{
    background-color: gray;
    transition: 0.5s;
}

main{
    width: 90vw;
    background-color: white;

    margin: auto;
    margin-top: 10px;
    padding: 10px;

    border-radius: 10px;
}

article h2{
    padding-bottom: 20px;
}

article p{
    text-align: justify;
    text-indent: 20px;

    margin-bottom: 20px;

}