@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}

header{
    
    padding: 40px;
    color: white;
    background-color: black;
}

header p > a{
    color: white;
    text-decoration: none;
}